<!--The 3 images on top-->
<img src="./assets/Screenshot from 2021-09-09 20-51-47.png" width="850" length="850"> <img
  src="./assets/17803303866520338953.jpeg" width="1800" length="1800" class="center"> <img
  src="./assets/Screenshot from 2021-09-09 20-55-17.png" width="1000" length="1000">
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-light p-4">
    <li class="text-primary">Deals</li>
    <li class="text-primary">Supports & Services</li>
    <li class="text-primary">Brands</li>
    <li class="text-primary">Featured</li>
  </div>
</div>

<!--Hamburger menu & the best buy logo-->
<div class="bg-primary">
<nav class="navbar navbar-dark bg-primary">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <img src="./assets/BestBuy_Logo.png" width=120>
      <button class="navbar-toggler mx-5 text-white" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        Menu
      </button>

      <!--Search Bar-->
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search Best Buy" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
            height="16" fill="currentColor" color=blue class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg></button>
      </form>
    </div>
  </nav>

  <!--Store & cart logo-->
  <a href="#" class="text-white fw-bold nav-link fs-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-shop" viewBox="0 0 16 16">
      <path
        d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z" />
    </svg>
    MorganTown
  </a>

  <a href="#" class="text-white fw-bold nav-link fs-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-cart3" viewBox="0 0 16 16">
      <path
        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    Cart
  </a>
</nav>

<!--Separation line between the 2 Nav bars-->

  <hr style="color: white;">


<!--The navbar links and drop down menues-->
<nav class="navbar bg-primary">
  <ul class="nav">
    <li class="nav-item"><a class="nav-link text-white" routerLink="/back-to-school">
        Back to School
      </a>
    </li>
  </ul>

  <ul class="nav">
    <li class="nav-item"><a class="nav-link text-white" routerLink="/top-deals">
        Top Deals
      </a></li>
  </ul>

  <ul class="nav">
    <li class="nav-item"><a class="nav-link text-white" routerLink="/deal-of-the-day">
        Deal of the Day
      </a></li>
  </ul>

  <ul class="nav">
    <li class="nav-item"><a class="nav-link text-white" routerLink="/health-and-wellness">
        Health & Wellness
      </a></li>
  </ul>

  <ul class="nav">
    <li class="nav-item"><a class="nav-link text-white" routerLink="/credit-cards">
        Credit Cards
      </a></li>
  </ul>

  <ul class="nav">
    <li class="nav-item"><a class="nav-link text-white" routerLink="/gift-cards">
        Gift Cards
      </a></li>
  </ul>

  <ul class="nav">
    <li class="nav-item"><a class="nav-link text-white" routerLink="/gift-ideas">
        Gift Ideas
      </a></li>
  </ul>

  <ul class="nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        More
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item text-primary" href="#">Best Buy Business</a></li>
      </ul>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
        data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
        Account
      </a>

      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item text-primary" href="#">Account</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item text-primary" href="#">Orders & Purchases</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item text-primary" href="#">Your Products</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item text-primary" href="#">Payment Methods</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item text-primary" href="#">Protection Plans & Subscriptions</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item text-primary" href="#">Digital Library</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item text-primary" href="#">Total Tech Support</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item text-primary" href="#">Free Home Consultation</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item text-primary" href="#">Members Offers</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item text-primary" href="#">Account Settings</a></li>
      </ul>
  </ul>

  <ul class="nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Recently Viewed
      </a>
  </ul>

  <ul class="nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Order Status
      </a>
  </ul>

  <ul class="nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Saved Items
      </a>
  </ul>
</nav>
</div>