<hr style="color: white;">
<div class="row">
    <div class="col">
        <div class="row g-0 px-5 mx-5">
            <div class="col-md-4">
                <img src="./assets/gl-37875-app-curbside-vpe_der-149659.png" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text fw-bold fs-3 text-secondary">Ready in one hour with Curbside Pickup</p>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="row g-1 px-5 mx-5">
            <div class="col-md-2">
                <img src="./assets/gl-app-vpe-freeshippin_der1-206852.png" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <p class="card-text fw-bold fs-3 text-secondary">Free next-day delivery on thousands of items.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="row g-0 px-5 mx-5">
            <div class="col-md-2">
                <img src="./assets/gl-app-vpe-freeshippin_der1-206852.png" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-3">
                <div class="card-body">
                    <p class="card-text fw-bold fs-3 text-secondary">Same-day delivery. Order by 3 p.m.,get it by 9
                        p.m.</p>
                </div>
            </div>
        </div>
    </div>