<!--First carousel-->
<div class="row">
    <div class="column">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/Screenshot from 2021-09-09 20-26-07.png" class="d-block w-100" width="750px"
                        alt="">
                </div>
                <div class="carousel-item">
                    <img src="./assets/Screenshot from 2021-09-09 20-27-52.png" class="d-block w-100" width="750px"
                        alt="">
                </div>
                <div class="carousel-item">
                    <img src="./assets/Screenshot from 2021-09-09 20-28-17.png" class="d-block w-100" width="750px"
                        alt="">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!--Second carousel-->
    <div class="column">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/Screenshot from 2021-09-12 16-19-47.png" class="d-block w-100" width="100px"
                        alt="">
                </div>
                <div class="carousel-item">
                    <img src="./assets/Screenshot from 2021-09-12 16-21-33.png" class="d-block w-100" width="100px"
                        alt="">
                </div>
                <div class="carousel-item">
                    <img src="./assets/Screenshot from 2021-09-12 16-23-04.png" class="d-block w-100" width="100px"
                        alt="">
                </div>
                <div class="carousel-item">
                    <img src="./assets/Screenshot from 2021-09-12 16-24-21.png" class="d-block w-100" width="00px"
                        alt="">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!--3 small images under the carousels-->
    <div class="row">
        <div class="col">
            <img src="./assets/gl-37875-app-curbside-vpe_der-149659.png" class="text-grey"><span
                class="text-secondary fw-bold fs-3">Ready in one hour with Curbside Pickup</span>
        </div>

        <div class="column">
            <img src="./assets/gl-app-vpe-freeshippin_der1-206852.png" class="text-greay"><span
                class="text-secondary fw-bold fs-3">Free next-day delivery on thousands of items.</span>
        </div>

        <div class="column">
            <img src="./assets/gl-app-vpe-freeshippin_der1-206852.png" class="text-greay"><span
                class="text-secondary fw-bold fs-3">Same-day delivery. Order by 3 p.m.,get it by 9 p.m.</span>
        </div>

        <!--Line separating the carousels and small images-->
        <hr>

        <!--3 cards-->
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="featurette-heading">Teen Tech Centers.<span class="text-muted"></span></h1>
                    <h5>
                        <p>It’s our mission to improve tech equity among teens in disinvested communities.Through tech
                            access,training and mentorship, we’re helping to empower young people.</p>
                    </h5>
                    <a href="#" class="fw-bold nav-link fs-5">
                        <p>Learn More</p>
                    </a>
                </div>
                <div class="col-9">
                    <div class="card" style="width: 58rem;">
                        <img class="card-img-left" img src="./assets/GL-59325-inspo-teen-tech-208039.jpg"
                            alt="Card image cap">
                    </div>
                    <div class="container">
                        <div class="col">
                            <img src="./assets/Screenshot from 2021-09-12 15-03-37.png" width="500px">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="width: 38rem">
            <img class="card-img-top" img src="./assets/pol-mmt449612-DER-6fa73c08-9e1c-43e3-bb9a-09635d71ec54.jpg"
                alt="Card image cap">
        </div>

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading text-primary">Save on select big-screen TVs</h2>
                <p class="lead">Upgrade your viewing experience with a larger screen that brings movies, shows and more
                    to life.
                </p>
            </div>
        </div>